.deps/
autom4te.cache/
config.log
compile
missing
*-sh
depcomp
Makefile
autoscan.log
config.sub
configure.in.back
configure.scan
stamp-h1
Makefile.in
       aclocal.m4
       config.h
       config.status
       configure
       unix_chkpwd
