# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/


# Python files
*.pyc

# CLion
.idea/
.env

# config extras
unixchkpwd/

# Extra library symlinks
typofixer
pwmodel
chkpw
typtopstatus

# Jupyter sh**
.ipynb_checkpoints/

# Build dirs
dist/
build/
*.egg-info/
ffile.txt
.eggs/

# pytest cracp
.cache
*~

run_as_root
pam_typtop